<?xml version="1.0" encoding="utf-8"?>
<module productName="Optimizely.CarbonTracker" clientResourceRelativePath="1.0" viewEngine="Razor" loadFromBin="false">
	<clientResources>
	</clientResources>

	<assemblies>
		<add assembly="Optimizely.CarbonTracker" />
	</assemblies>

	<clientModule>
		<moduleDependencies>
			<add dependency="CMS" />
		</moduleDependencies>
	</clientModule>
</module>
